[2022-02-16 18:23] NikitaAvraimov-okta commented on #273
This is an issue with react-native 0.65+ compatibility(), I am seeing eventEmitter warnings, although no crash for me. Any possibility of entering wrong credentials?

[2022-02-16 18:43] mraible commented on #273
@NikitaAvraimov-okta I get these errors when the app loads, before I try to login. The "authorization error -600" happens when I click the login button. Are you able to reproduce the error? It's pretty easy to do:

[code]

[2022-02-16 19:01] NikitaAvraimov-okta commented on #273
check out common errors, multiple apps etc.

[2022-02-16 20:40] mraible commented on #273
Just to update this issue. I had a debugging session with @NikitaAvraimov-okta and we determined that Android 30 is not supported by our React Native SDK. The same app works fine with an API 27 and Pixel 4 emulator. Also works on `Pixel_4_API_29(AVD) - 10`.

[2022-02-17 23:56] BenjYn opened #274 "Browser not opening on Android when using a default browser other than Chrome"
### Describe the bug?

We've been getting a few reports from users who are unable to sign in to our mobile app due to the login screen not showing up in the browser. I was able to reproduce this issue on a physical device on the sample app when I installed a browser other than Chrome (such as DuckDuckGo) and attempted to sign in. The browser just doesn't open.

### What is expected to happen?

I e

[2022-02-18 00:12] JayNewstrom commented on #274
Hi, thanks for the report. We provide support for customizing this behavior in the SDK this uses on Android https://github.com/okta/okta-oidc-android#providing-browser-used-for-authorization

@NikitaAvraimov-okta could you try to reproduce this and see if this fixes it?

We’ll need to figure out how best to support this in this SDK, since that functionality isn’t cross platform.

[2022-02-18 23:06] reeinohio opened #275 "[Help needed] How do I re-instate a saved refresh_token in sdk storeManager?"
### Describe the bug?

I would like to save the refresh_token and allow for biometrics login in mobile app.   After successful biometrics, how do i get the saved okta refresh_token to be re-instated and be able to call refreshTokens() so that I can be granted new access_token?
After signout() it seems all tokens have been cleared from storage.
If not doable, do others have suggestions on how to im

[2022-02-21 10:30] oleggnidets-okta commented on #275
Hey @reeinohio

Thanks for the question.

After succeeded login you receive the Access and the ID tokens. The SDK saves the Refresh Token in storage. You should refresh token when the Access Token expired. For that reason we have the method [`refreshTokens`](https://github.com/okta/okta-react-native#refreshtokens). You can introspect the Access Token to understand whether it's valid using the meth

[2022-02-22 05:30] reeinohio commented on #275
@oleggnidets-okta  Thank you for your response.
I am able to utilize the apis as described,  such as when to refreshTokens as needed.
It's after successful user/password login, and show option to configure biometrics and then allowing to use biometrics logins instead of user/password on succeeding logins is what I am trying to figure out.  Given the stored token gets cleared, then it's not an opti

[2022-02-22 13:06] NikitaAvraimov-okta commented on #274
@BenjYn For the scenario when chrome is installed but not used as a default browser you should be using [browserMatchAll flag](https://github.com/okta/okta-react-native#createconfig). For browserSignIn scenario we can only work with browsers which support chrome custom tabs. Try passing browserMatchAllFlag = true, this should be sufficient for your use case

[2022-03-11 05:52] mraible opened #283 "[doc] Add docs about how to check for a session at startup"
### Describe the feature request?

Okta's quickstart guides have a "check for a session on startup" as part of its mobile guides. We'd like to add documentation on how to do this or mention that it's handled by the React Native SDK.

### New or Affected Resource(s)

React Native Quickstart

### Provide a documentation link

https://developer.okta.com/docs/guides/sign-into-mobile-app/react-native/m

[2022-03-11 05:54] mraible opened #284 "[doc] Add documentation about how to keep the user signed in"
### Describe the feature request?

Our Android and iOS Quickstarts now have information on how to keep the user signed in. Please document how to do this in React Native as part of its README.

### New or Affected Resource(s)

https://developer.okta.com/docs/guides/sign-into-mobile-app/react-native/main/

### Provide a documentation link

https://developer.okta.com/docs/guides/sign-into-mobile-app

[2022-03-11 05:58] mraible opened #285 "[doc] Add information on how to use an access token to call an API"
### Describe the feature request?

### Describe the feature request?

Our Android, iOS, and SPA quickstarts have information on how to make a request to an API. Please document how to do this with Okta React Native as part of its README.

### New or Affected Resource(s)

https://developer.okta.com/docs/guides/sign-into-mobile-app/react-native/main/

### New or Affected Resource(s)

### Provide a d

[2022-03-11 10:30] SMJ93 opened #286 ""Error not specified." if the device does not have a browser that supports chrome custom tabs"
### Describe the bug?

In the [okta-oidc-android documentation](https://github.com/okta/okta-oidc-android#providing-browser-used-for-authorization) it says the okta library only supports Chrome custom tab enabled browsers.

We have been running some tests on our app as lots of users have been complaining about login on Android and here are our findings:
![Screenshot 2022-03-11 at 10 19 07](https:/

[2022-03-11 16:08] JayNewstrom commented on #286
Hi @SMJ93, thanks for the deep dive. I'm noticing it looks like some browsers don't support chrome custom tabs, and it looks like the OnePlus device acts completely different than the rest. I don't have a OnePlus device handy to reproduce this though.

In general, we recommend using Chrome, as that's what we use for testing.

It sounds like the ask here is to provide better error messages, and I'l

[2022-03-11 17:15] SMJ93 commented on #286
Hi @JayNewstrom, thanks for getting back so quickly!

Yeah most of us use Chrome ourselves, but lots of our customers don't so are complaining about the issue unfortunately.

Better error messaging would be great! Any idea how long it will take to implement?

[2022-03-21 16:02] SMJ93 opened #287 "Refreshing an invalid refresh token returns a generic error"
### Describe the bug?

If we let the refreshToken expire and call `OktaRN.refreshTokens();` it returns a default message which prevents us from handling specific issue.

If we look at the network requests we can see the API returns the following error:
[code]

But the SDK returns this error:
[code]

It should return something more helpful, e.g.
[code]

Can you improve your error messaging please a

[2022-03-22 15:43] SMJ93 opened #288 "getAccessToken returns generic error `No access token found`"
### Describe the bug?

We retrieve the access token using the `getAccessToken` method documented [here](https://github.com/okta/okta-react-native#getaccesstoken):

[code]

Here are 2 scenarios we expect this to fail:

1. User opens the app for the first time so no access token exists
2. Access token has expired, e.g. Access token lifetime is 5 minutes and the user uses the app 10 minutes later.

F

[2022-03-24 13:34] satya-imaginea commented on #263
we are facing the same issue, we are trying to clear if any previous session exists but it is not working as expected all the time. sometimes it is stucking at signout call. please help us

[code]

[2022-03-24 19:44] evenSosaAkido commented on #264
I have the same issue

[2022-04-05 07:22] pacopalo opened #291 "Could not resolve com.okta.android:oidc-androidx:1.0.17 > Could not get resource"
### Describe the bug?

I ran the build in AppCenter and got this error
[code]

### What is expected to happen?

The build should pass, there is no change in our app build configuration.

### What is the actual behavior?

The build is passed on and off. So I am not sure what happens with jitpack?

### Reproduction Steps?

./gradlew clean :app:assembleUatRelease

### Additional Information?

_No res

[2022-04-05 08:30] pacopalo commented on #291
I also can't open the link `https://www.jitpack.io/com/okta/android/oidc-androidx/1.0.17/oidc-androidx-1.0.17.pom` in the browser.

[2022-04-05 15:08] arvindkrishnakumar-okta commented on #291
Thanks for the post!

Someone from our team will review this and followup soon.

cc: @jaynewstrom-okta

[2022-04-08 05:02] kyelewis commented on #291
Can confirm, we see this error on and off in our build logs since `Thu, 31 Mar 2022 03:51:38 GMT`

[2022-04-08 05:45] kyelewis commented on #291
Hopefully Okta can restore these older oidc packages to mavencentral though for some timeframe.

@pacopalo The current reasonable solutions are:

- Migrate this code to at least okta-react-native 1.13.0 which updated this dependency, or
- Patch okta-react-native/android/build.gradle

[code]

[2022-04-08 07:18] pacopalo commented on #291
@kyelewis We are migrating to "@okta/okta-react-native": "2.3.0" now. Seems to be working. thanks!

[2022-04-10 18:36] JayNewstrom commented on #291
Looks like you're using an old version that was published to bintray (which is no longer stable/online). jitpack is likely only in the error message because it is the last entry in your `repositories` block. We haven't made any breaking changes to the Android/iOS/react native artifacts. Please upgrade to use the latest version, as we don't plan to re-release old android versions to maven central.

[2022-04-10 18:36] #291 closed

[2022-04-16 10:29] cashtotalszero opened #292 "Unable to run on Android using React Native 0.68.1"
### Describe the bug?

Cannot get Android to build successfully using the latest version of React Native (0.68.1). I have created a Typescript React Native app using the React Native CLI. After following the readme steps I have got the iOS version running fine but the Android build fails.

### What is expected to happen?

The app should build and run successfully.

### What is the actual behavior?

[2022-04-17 15:44] JayNewstrom commented on #292
Looks like it was removed as part of gradle 7, see https://docs.gradle.org/current/userguide/upgrading_version_6.html#sec:configuration_removal

I'll update the project.

[2022-04-18 22:45] TannerLessen commented on #292
+1 on this.. also unable to upgrade to RN 0.67.*+ for the same reason (Gradle 7)

[2022-04-19 16:00] JayNewstrom commented on #292
I created a PR here that should fix it: #293

[2022-04-19 16:26] TannerLessen commented on #292
Approved! 😂

But really, what's the release cadence look like for a fix like this? I was able to proceed with building Android using an older version of Gradle so non-blocking but still curious.

Thanks!

[2022-04-19 16:27] JayNewstrom commented on #292
We don't promise release timelines, but once it's merged, we'll do our best to get it released quickly!

[2022-04-19 18:24] JayNewstrom commented on #292
Should be fixed in 2.4.0, released on NPM now. Please report back if something else isn't working. Thanks!

[2022-04-19 18:24] #292 closed

[2022-04-20 11:04] cashtotalszero commented on #292
Now works as expected. Thanks for the fast turn around!

[2022-04-21 21:11] ryanjwessel opened #301 "`fetch` polyfill is broken in iOS release builds when `react-query` is installed"
### Describe the bug?

`fetch` does not work on iOS when `@okta/okta-react-native` is installed in a project that also uses `react-query`.

Having `react-query` as a dependency without Okta installed does not break `fetch`. Once you install `@okta/okta-react-native` and import `createConfig` from `@okta/okta-react-native`, `fetch` is defined as `false` while not in debug mode, and all functions ca

[2022-04-22 00:27] arvindkrishnakumar-okta commented on #301
Thanks for posting!

@mikenachbaur-okta Can you please help take a look?

[2022-04-26 15:01] jjlangholtz opened #303 "Support new mobile SDKs"
### Describe the feature request?

I saw that there are new mobile SDKs currently in Beta that have better support for some of the newer Okta features like Native SSO. Are there any plans to upgrade the underlying iOS/Android packages to use the new versions?

### New or Affected Resource(s)

New SDKS:

* https://github.com/okta/okta-mobile-kotlin
* https://github.com/okta/okta-mobile-swift

### P

[2022-04-26 15:05] JayNewstrom commented on #303
Hi @jjlangholtz thanks for reaching out! I'm glad to hear you're excited about the new SDKs! We do have plans to update our cross platform strategy, which includes the react-native SDK. However, we don't have any more details or a timeline to share at this time.

That being said, anyone who is interested in this, please leave a comment and we will reach out when we have something to share.

[2022-04-26 15:12] JayNewstrom commented on #301
I had someone from our JS team take a look, and nothing stood out to them as being obviously wrong. I created a story on our backlog to take a deeper look into this. [OKTA-493072](https://oktainc.atlassian.net/browse/OKTA-493072)

[2022-04-26 16:02] ryanjwessel commented on #301
I found something that is a bit more concerning in [this commit](https://github.com/ryanjwessel/okta-fetch-conflict/commit/c4fa0c5355d5cc163bd50384e95b5dc4705fef01).

That example **only** includes `@okta/okta-react-native`, `react`, and `react-native` as dependencies, and this issue is present. So, it seems like this is no longer a dependency conflict on later versions of React Native (`0.68`).

[2022-04-26 16:48] jaredperreault-okta commented on #301
@ryanjwessel Can you provide the output of `yarn why @okta/okta-auth-js` in this repo?

[2022-04-26 16:51] ryanjwessel commented on #301
Sure thing @jaredperreault-okta , here it is:

[code]

[2022-04-29 04:23] reeinohio commented on #275
@oleggnidets-okta  My app is uses signInWithBrowser  and it has a "Log Out" option which calls  await signOut( {revokeRefreshToken: false} ).  I just realized that the SDK (@okta/okta-react-native^2.2.0) does not support any params passed into signOut. I was trying to not revoke the refresh_token so I could use it for biometrics login to get a new access token.  Is this something that can eventual

[2022-05-03 15:48] ecexplorer commented on #303
@JayNewstrom Thanks for the update, this would be a helpful upgrade for us as well.

[2022-05-06 19:58] reeinohio opened #305 "Should signOut() accept parameter options?"
### Describe the bug?

I am using signInWithBrowser() and my app has a "Log Out" option which calls await signOut( {revokeRefreshToken: false} ).
I realized that signOut API does not seem to accept options. I got this idea from in okta-auth-js signOut.

I do not want to revoke the refresh_token so I could re-use it next login after successful bio-authentication.
I see this might be doable if I swi

[2022-05-06 20:14] JayNewstrom commented on #305
Hi @reeinohio you can use the revoke methods listed [here](https://github.com/okta/okta-react-native#signout) for both web based sign in, as well as custom sign in.

So when using browser sign in, just call revoke access token, and it will keep the refreshToken valid.

[2022-05-07 18:20] JayNewstrom commented on #108
@aravi365 are you still running into this issue?

Your description is a little confusing, it might be helpful to have a data flow diagram, or to be more specific in how the redirects are happening.

[2022-05-07 18:35] JayNewstrom commented on #286
Hi @SMJ93 I've been testing with a bunch of these browsers in our new SDK https://github.com/okta/okta-mobile-kotlin

And it's looking like support is going to be much better. However, given your tests above, you had lots of issues with the OnePlus device. Would you be able to give the sample in that repo a try to see if things are properly working on OnePlus devices?

[2022-05-09 08:22] SMJ93 commented on #286
Hi @JayNewstrom, will `@okta/okta-react-native` be updated to use this new SDK?

[2022-05-09 17:16] #273 closed, assigned to nobody

[2022-05-11 13:54] reeinohio commented on #305
@JayNewstrom Thank you for your response.
I tried as you suggested (on iphone simulator), web sign in and on logout, called revokeAccessToken(). Next time I login, i got prompted to go to use Okta site to Sign In, I tapped Continue, at this point I expected to get to Okta login site, however, it automatically logged me in.  Is this expected behavior? I suspect it is because the refreshToken is sti

[2022-05-11 14:59] JayNewstrom commented on #305
Hi @reeinohio when you call `signOut` you destroy the web session, as well as the access/refresh tokens. Calling revoke doesn't affect the web session. So if you signed in via the web, and that session is still valid the next time you attempt to log in via that method, you'll be automatically redirected back and a new set of tokens will be minted. There's more detailed descriptions of what all the

[2022-05-12 19:08] JSummerv commented on #230
Having the same issue here has there been any movement on this?

[2022-05-13 16:38] JSummerv commented on #230
I was able to get a more detailed error back from the module
[AuthServiceError: Hardware Backed KeyStore. Client require hardware backed keystore, but EncryptionManager doesn't support it.]

[2022-05-13 17:40] JayNewstrom commented on #108
Based on what you've outlined, this isn't possible due to where the PKCE data is stored. Flows must be started and completed in the same browser. Using another browser, such as the one built into the mail app won't allow for this to complete successfully. If my understanding of you issue is incorrect, feel free to reopen the issue.

[2022-05-13 17:40] #108 closed

[2022-05-20 14:00] reeinohio commented on #305
Thanks for the suggestions @JayNewstrom. After trying out browserSignIn(), it seems to present a lot of issues that we can't always control given that there is the web browser session to take into account as well. The login flow also does not feel native and the signout split second redirect are not very UX friendly. I've had issues too that browserSignIn() just seems to stop working (browser won'

[2022-05-20 14:18] reeinohio commented on #275
I have moved forward with using custom SignIn with revokeAccessToken and revikeidToken on logout, instead of using signInWithBrowser with signOut() on logout which revokes all tokens.

[2022-05-20 14:18] #275 closed

[2022-05-23 14:32] ryanjwessel commented on #301
Have there been any developments on this Issue? We are still running into this behavior. It is pretty difficult to debug and impacts our other dependencies' functionality.

[2022-06-10 09:33] NCS opened #309 "Unauthorized error when storedStateManager is unavailable"
### Describe the bug?

We call getAccessToken on AppStart und if this fails we call refreshTokens. For some users - only on iOS - we get for both calls an "Unauthorized user" error. In this case no requests to okta can be found in the logs. After a complete restart of the app the same calls are working.
We investigated the issue and believe that the getter for storedStateManager is not working. Th

[2022-06-14 15:28] jonatan-zoominfo opened #310 "Failing to run createConfig:"
### Describe the bug?

While running createConfig with configuration that used to work, I suddenly get 2 kind of errors:
1. Invariant Violation: `new NativeEventEmitter()` requires a non-null argument.
2.  TypeError: Cannot read properties of undefined (reading 'createConfig')

Important note - we recently updated RN version into "0.67.2"

### What is expected to happen?

createConfig should run w

[2022-06-14 19:45] aarongranick-okta commented on #310
@jonatan-zoominfo Are you running on iOS or Android?

[2022-06-15 13:55] jonatan-zoominfo commented on #310
It works now. I assume something messed up with the build and pods.

[2022-06-24 14:54] grgmo opened #311 "iOS - Calling `signOut` to clear browser session gives an alert `Sign In` instead of `Sign Out`"
### Describe the bug?

We are using social login with `signInWithBrowser({ idp: 'your_idp_here' });` and we get native alert with correct message for signing in. When we call `signOut` it shows the same message as when you sign in - `... Wants to Use ... to Sign In`.

### What is expected to happen?

The message on the alert should be `... Wants to Use ... to Sign Out`

### What is the actual beha

[2022-06-28 16:53] mikenachbaur-okta commented on #311
Unfortunately this is a known limitation of Apple's platform, and there's nothing that can be done to override that alert.   Please see the following issue for more context. https://github.com/okta/okta-react-native/issues/254

[2022-06-28 16:53] #311 closed

[2022-06-29 19:34] alexzobi opened #312 "Support for React Native Windows"
### Describe the feature request?

Support for the [windows platform](https://microsoft.github.io/react-native-windows/) would be great. Doesn't even necessarily need macOS support, as either mac catalyst or m1 macs can be used to run ios/ipad apps.

### New or Affected Resource(s)

windows platform support

### Provide a documentation link

_No response_

### Additional Information?

_No response

[2022-06-29 20:20] JayNewstrom commented on #312
Hi @alexzobi I'll forward your request on to our product team.

[2022-07-06 09:41] mahadevsempires commented on #274
Same issue with Android 9 simulator and Motorola physical device. Any solution team?

[2022-07-12 06:58] HadiModarres opened #313 "How to do biometrics login?"
### Describe the bug?

I need to let the user in when biometrics check is successful. To do that I need to save the refresh token in keychain and use it later. I can acquire a refresh token, but there's no way (that I can see in the docs) to tell the library to use a specific refreshToken to refresh all tokens. As I understand from other issues, this library uses keychain underneath but there's no

[2022-07-14 19:19] mikenachbaur-okta commented on #309
Thank you for bringing this to our attention, we'll have one of our engineers take a look at this issue.

[2022-07-17 18:40] emmanuelogunmuyiwa-okta commented on #309
Hi @NCS  Can you help me understand more about this issue, at what application life cycle method is the call to `getAccessToken()` and `refreshTokens()` made ?

[2022-07-20 12:37] NCS commented on #309
Hi @emmanuelogunmuyiwa-okta . Thank you for the reply. We have a method which is called when our app root navigator has mounted. In this method we check if the user is authenticated. For this purpose we use `getAccessToken()` and if this fails `refreshTokens()`. In this case everything is working fine when the app is starting but it fails sometimes for some users if the app returns from background

[2022-07-21 18:37] emmanuelogunmuyiwa-okta commented on #309
Hey @NCS , thanks for providing more context.  The particular error you mentioned `OktaReactNativeError.unauthenticated` can occur in the following scenarios :

- If the configurations are not set before making those api calls. Hence you want to set [createConfig](https://github.com/okta/okta-react-native#createconfig) before hand.

-  if the token was never saved and can not be found in the devic

[2022-07-27 12:52] Fridus opened #315 "Error: Authorization Error: invalid_scope: Custom scopes are not allowed for this request"
### Describe the bug?

I need to add a custom scope
[code]

### What is expected to happen?

Use an additional scope for accessToken

### What is the actual behavior?

Error:
[code]

### Reproduction Steps?

- Create config with a custom scope

### Additional Information?

_No response_

### SDK Version

- @okta/okta-react-native 2.4.0
- OktaOidc (3.11.0)

### Build Information

- xcode 13.4.1 (13

[2022-07-27 15:55] emmanuelogunmuyiwa-okta commented on #309
Thank you for the question @NCS and I hope the suggestion helped.  I'm going to close this, feel free to re-open if needed (or ask new questions in new issues)

[2022-07-27 15:55] #309 closed

[2022-08-02 17:37] evenSosaAkido commented on #244
I have the same issue still on version 2.3.0 introspectAccessToken only works well on IOS not Android

[2022-08-08 14:57] LoicMahieu commented on #315
The issue was the `discoveryUrl` which was `discoveryUri: "https://{yourOktaDomain}"`, like it's described in the readme.
The authorize uri was `https://{yourOktaDomain}/oauth2/v1/authorize?nonce=xx&response_type=code&code_challenge_method=S256&scope=openid%20profile%20user:delete&code_challenge=xx&redirect_uri=xx:/callback&client_id=xx&state=xx`

But we were able to get things working with `disco

[2022-08-10 08:19] anmoljain10 opened #318 "Updating @okta/okta-auth-js to the latest version"
### Describe the feature request?

Hi, i checked the package JSON file of @okta/okta-react-native package. We are using @okta/okta-auth-js version as 5.4.0 but the stable version is 6.x.x. Are we updating the package JSON for this as 5.4.0 will be considered as an old version for @okta/okta-auth-js from 2022-10-31. Here's the link: https://github.com/okta/okta-auth-js#release-status. Since we are

[2022-08-10 10:46] anmoljain10 opened #319 "Forgot Password with custom UI"
### Describe the feature request?

As we have custom sign-in flow where we can use our own UI for building sign-in. Is it possible to do it for forgot password flow as well? Currently there is no method available in the library for this.

### New or Affected Resource(s)

NA

### Provide a documentation link

_No response_

### Additional Information?

_No response_

[2022-08-10 14:18] JayNewstrom commented on #319
Yes, you can use `getAuthClient` https://github.com/okta/okta-react-native#getauthclient combined with [auth-js](https://github.com/okta/okta-auth-js#forgotpasswordoptions) `forgotPassword` to accomplish this.

[2022-08-10 18:15] erinohara opened #320 "Upgrade iOS IODC dependency to version 3.11.2"
### Describe the feature request?

Upgrade the iOS IODC dependency to version [3.11.2](https://github.com/okta/okta-oidc-ios/releases/tag/3.11.2). This will allow apps using `okta-react-native` to be built using Xcode 14.

Version 3.11.2 of iOS IODC prevents a compilation error that was previously present when building with Xcode 14. The error occurs due to the use of `@available` in `OktaOidcConf

[2022-08-10 20:20] #320 closed

[2022-08-11 08:09] anmoljain10 commented on #319
Thanks @JayNewstrom  for quick reply. Is there any chance we'll face issues with this function after 31-10-2022 as the okta--auth-js package version we've used in this package is retiring on 1-10-2022. Added reference here: https://github.com/okta/okta-react-native/issues/318

[2022-08-11 13:25] JayNewstrom commented on #318
You should be able to pull in the latest version without breaking anything.

[2022-08-11 13:26] #319 closed

[2022-08-11 15:29] JayNewstrom commented on #320
Released as 2.6.0. Thanks again @erinohara

[2022-08-15 14:05] oregev commented on #243
So... i'm having the same issue but with no explanation:
Getting 200 and session code on `SignIn` function but `authenticate` fails with this **error:**

error in sign-in Error: Okta Oidc error
    at Object.promiseMethodWrapper [as authenticate] (NativeModules.js:106)
    at _callee5$ (index.js:191)
    at tryCatch (regeneratorRuntime.js:86)
    at Generator._invoke (regeneratorRuntime.js:66)

[2022-08-16 18:35] salorsino commented on #301
Seeing this as well in my project - any suggestions or solutions being worked on?

This is the only way I can figure to get an accessToken after obtaining a sessionToken from the authn API. I really need this solution to work

[2022-08-16 23:38] mraible commented on #243
I'm experiencing this as well, with a brand new app created by `npx -y react-native init SecureApp`. Everything works fine in iOS, but there are errors when launching on Android. I'm using Pixel 5 API 30. I can provide steps to reproduce if necessary.

<img width="492" alt="Screen Shot 2022-08-16 at 17 37 51" src="https://user-images.githubusercontent.com/17892/185003287-ed5ecc0c-cf83-4278-9e6c-72

[2022-08-17 13:59] shuowu-okta commented on #301
@ryanjwessel @salorsino you can try pass custom httpClient implementation as an option via `oktaAuthConfig`

Refs:
* https://github.com/okta/okta-auth-js#httprequestclient
* https://github.com/okta/okta-react-native/blob/master/index.js#L69

[2022-08-17 14:54] salorsino commented on #301
@shuowu-okta in my project, just having `@okta/okta-react-native` in my dependencies makes `fetch` unusable. API calls made before ever using the Okta SDK are failing due to this issue.

[2022-08-23 23:12] brycnguyen commented on #301
Facing this same issue as well. Simply including the library is causing fetch to not work with android and crashes the app.

[2022-08-23 23:22] brycnguyen commented on #301
![Screen Shot 2022-08-23 at 4 21 26 PM](https://user-images.githubusercontent.com/65200903/186282831-d98e88a4-021e-4a1c-8b85-d6629a0f25a9.png)

I am using `@sentry/react-native` along with using `@okta/okta-react-native`

[2022-08-24 08:42] anmoljain10 commented on #318
Thanks @JayNewstrom  for the reply, I had a doubt in the flow i am using for login. Here is what we're doing:
1. Checking using **isAuthenticated** method if the user is logged in. If logged in, route to home screen directly.
2. If isAuthenticated return false, there can be two scenarios, one is either user's session is expired or they're logged out.

My questions are:
- Is there a method using wh

[2022-08-25 05:20] thekevinbrown opened #323 "Error generating debug R file while building"
### Describe the bug?

We often experience the following issue when trying to build our React Native application for Android:

[code]

### What is expected to happen?

I expect the build to work reliably.

### What is the actual behavior?

When this error occurs, we clear the build caches then rebuild and are able to build successfully. It seems that there are undeclared dependencies between your

[2022-08-26 01:44] mikenachbaur-okta commented on #323
Thank you for reporting this. @jaynewstrom-okta could you take a look at this when you have a chance?

[2022-08-29 10:44] Rakee08 opened #324 "Unable to get status code"
### Describe the bug?

When

authClient
      .signIn({ username, password })
      .then((success) => {
        return success
      })
      .catch((error) => {
         console.log(error)
      });

### What is expected to happen?

Should return http status on the error object

### What is the actual behavior?

Actual behavior - Receiving status on error.xhr.status

{
    "name": "AuthApiError"

[2022-09-20 07:23] anmoljain10 commented on #268
Hi guys, i have one question. So there are **sessionToken** and **accessToken**, after accessToken expires we use **refreshTokens** method to get the new accessToken. How to check if sessionToken is expired? I guess for accessToken and sessionToken default expiration time is 1 hr and 2 hrs.

[2022-09-20 09:46] anmoljain10 opened #325 "Use of authenticate method and sessionToken"
### Describe the bug?

I need to confirm what will happen if **sessionToken** expires, and is this a valid scenario?

- In our okta console/dashboard, the default values for **accessToken** and **sessionToken** valid time is 1 hr and 2 hrs respectively. After 1 hr, we're using **refreshTokens** method to get the new accessToken and refreshToken. Does the session also updates automatically at that

[2022-09-20 18:09] mikenachbaur-okta commented on #268
@anmoljain10  The session token is only used when initially authenticating your user, and is the token that is passed between the native authentication SDK and the OIDC SDK. The session token is short-lived, but provides a means to create an access token. From that point forward, the refreshToken and accessToken should be enough to keep your user logged in.

[2022-09-20 18:19] mikenachbaur-okta commented on #325
The Okta React Native SDK wraps the native Okta OIDC SDK which handles the lifecycle and storage of your tokens, as well as facilitates web-based sign-in. If you're using native authentication, that SDK enables you to sign in and verify MFA factors, which results in returning a session token.  This session token is then passed to the OIDC SDK which enables your user to remain signed in.  And the `

[2022-09-21 04:25] anmoljain10 commented on #325
Thanks for the quick reply. I am using the custom sign-in from this library, i am using the **signIn** method and sessionToken is exchanged with accessToken within the library. Can the sessionToken expire, if yes, how to check it and what will be the next flow?

[2022-09-21 08:58] anmoljain10 commented on #268
Thanks @mikenachbaur-okta  for the clarifications.

[2022-09-22 09:24] anmoljain10 commented on #325
Got the answer, closing this

[2022-09-22 09:24] #325 closed

[2022-09-22 09:34] anmoljain10 opened #326 "Use of Temporary or One-time password to login"
### Describe the bug?

We need to login the Okta user with one time password we has created when we created a user in Okta console. This is one-time password so user should be able to login once and then the password should expire until they change it.

My issue is i'm not able to login using the temporary password. It is giving `Sign in is not authorised`. The status in okta dashboard for the use

[2022-09-22 21:42] jdcataldo commented on #301
We are also seeing this when upgrading to any version greater than `1.10.0`. This is blocking our ability to upgrade our version of react native.

[2022-09-22 22:59] mikenachbaur-okta commented on #325
Thank you @anmoljain10, if you have any further questions, please don't hesitate to ask.

[2022-09-22 23:01] mikenachbaur-okta commented on #326
The React Native SDK itself doesn't support authentication in this way.  Perhaps this might be better served to be filed against https://github.com/okta/okta-auth-js

[2022-09-30 04:26] sambeetsahu opened #328 "Okta Oidc error code -1000"
### Describe the bug?

{"code":"-1000","detail":{"nativeStackAndroid":[],"userInfo":null,"message":"Okta Oidc error","code":"-600"}}

### What is expected to happen?

User need to successfully signin to application

### What is the actual behavior?

Every time a valid user try to login getting this error {"code":"-1000","detail":{"nativeStackAndroid":[],"userInfo":null,"message":"Okta Oidc error",

[2022-09-30 04:38] #328 closed

[2022-10-05 18:32] brycnguyen commented on #301
@shuowu-okta I did try passing in a different http client such as axios.

On Android the app still will not load while including this library with [@sentry/react-native](https://docs.sentry.io/platforms/react-native/). It still crashes with the error `undefined is not a function`

Sentry React Native also relies on the fetch api, but seems to work fine with okta-react-native on iOS with axios as t

[2022-10-06 21:06] NatalieDinh opened #330 "Sign in not authorized"
### Describe the bug?

I am having an issue using both the `signIn` and `signInWithBrowser` methods. When attemping to sign in, I receive a `Error: Sign in not authorized` with error code -1000.

My organization does not have any MFAs enabled, and we are sure that the credentials are accurate as we are able to get a access token through the OIDC debugger.

### What is expected to happen?

We shoul

[2022-10-10 20:03] #330 closed

[2022-10-11 07:20] jonatan-zoominfo commented on #310
Hi Aaron,
Eventually it does work for me. I assume I had a problem with the build.

On Tue, Jun 14, 2022 at 11:53 PM Jonatan Kaplan Mandelman <
***@***.***> wrote:

--
*Jonatan Mandelman*

*React Native mobile developer*
HaSheizaf St 4 *| *Ra'anana, IL
mobile: +972-50-7888182
www.zoominfo.com
[image: logo.png] <https://zoominfo.com/>

[2022-10-11 08:30] jonatan-zoominfo commented on #310
This case is on iOS.
Generally we developed for both.

נשלח מה-iPhone שלי

[2022-10-13 20:02] gebrown43 commented on #330
@NatalieDinh How where you able to solve this? Im assuming MFA was on?

[2022-10-13 20:15] NatalieDinh commented on #330
@gebrown43 No, as mentioned above, MFA was not enabled. I honestly just ran through the set up flow again, and also enabled and then disabled Client Secret which fixed it.

[2022-10-13 21:37] gebrown43 commented on #330
@NatalieDinh Ok thanks for the quick response

[2022-10-26 11:05] mahes-waran opened #332 "Execution failed for task ':okta_okta-react-native:parseReleaseLocalResources' in react native"
### Describe the bug?

FAILURE: Build failed with an exception
./gradlew assemblRelease

Execution failed for task ':okta_okta-react-native:parseReleaseLocalResources'.
  Could not resolve all files for configuration ':okta_okta-react-native:androidApis'.
     Failed to transform android.jar to match attributes {artifactType=android-platform-attr, org.gradle.libraryelements=jar, org.gradle.usage=j

[2022-10-30 16:25] sambeetsahu opened #333 "RefreshToken"
### Describe the bug?

I followed the okta react native custom sign in example. I am trying to make the session live until the user not signout. As per the document need to call refreshToken() to regenerate all the tokens.  But confused how to do that.

I am also Checked some closed issue where some comments are there to use introspectAccesstoken()

But still not able to get that ..

Okta team can

[2022-11-15 20:44] addo-4 commented on #323
@thekevinbrown ....I got this error if i run it on emulator. code worked fine on simulator.
<img width="1332" alt="Screenshot 2022-11-16 at 1 43 58 AM" src="https://user-images.githubusercontent.com/102014885/202021555-d66dd2eb-b0e9-4987-b04c-58c4728d46dc.png">

guide me how to clear this error.
error screenshot is attached

[2022-11-15 22:44] thekevinbrown commented on #323
The only solution we as consumers of the library have is to clean and rebuild over and over again until the timing manages to work out. It sometimes takes 7 or 8 builds on my machine for it to work. If Okta declare the dependencies correctly this will go away for people.

[2022-11-22 09:45] nithin-ds-07 commented on #243
@mraible
Hey did you get the solution I am also facing the same issue.

[2022-11-22 09:49] pavanvirat15 commented on #243
@nithin-ds-07
Hey Iam also facing same issue man. if i solve i will post it here. before that you got help me out

[2022-11-23 16:59] vincecoleman commented on #301
I'm currently seeing this as well.

[2022-11-28 18:04] erikpaulmiller commented on #303
Any update on these?  More specifically
https://developer.okta.com/blog/2022/08/30/introducing-the-new-okta-mobile-sdks#supporting-multiple-tokens--users
&
https://developer.okta.com/blog/2022/08/30/introducing-the-new-okta-mobile-sdks#supporting-multiple-tokens--users

[2022-11-29 02:04] mikenachbaur-okta commented on #303
We are still working on the plan to integrate the new SDKs but we are working on prioritization. Please continue to comment on this issue. We are referring to it when looking at how important it is to upgrade our react-native libraries to the latest Mobile SDKs.

[2022-11-29 16:02] ValentinOUI opened #336 "Authorize with a custom authorization server id"
### Describe the bug?

Hi.

I am using a Custom Authorization Server as described [here](https://developer.okta.com/docs/reference/api/oidc/#_2-okta-as-the-identity-platform-for-your-app-or-api), so according to the doc the authorization URL needs to look like this

https://${yourOktaDomain}/oauth2/${authorizationServerId}/v1/authorize

However, after trying different combinations between the `iss

[2022-11-29 23:48] mikenachbaur-okta commented on #336
Thank you for reaching out @ValentinOUI. The SDK uses the supplied discovery URL to retrieve the OIDC configuration for your authorization server before initiating login.  You can validate settings are correct by appending `/.well-known/openid-configuration` to your discovery URL to check those values for yourself.

Alternatively, you could try removing the "issuer" parameter, and just supply the

[2022-11-30 09:48] ValentinOUI commented on #336
Hello @mikenachbaur-okta and thank you for your answer.

Thanks for the `/.well-known/openid-configuration`, I manage to get it working via Postman as well as the authorize endpoint, by setting everything correctly including the authorization server id.

But when I try with the SDK, the requested URL still looks like `/oauth2/v1/authorize?` despite appending the auth server id in my discovery URI